<div ng-controller="dashController">
  <a href="#!dashboard" class="btn btn-info">Back</a>
<h1 class="white text-center"> Projects</h1>
  <div class="table-responsive">
    <table class="table table-hover table-striped" style="background: #fff;margin-top:50px; ">
      <thead>
        <tr>
          <th>title</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in projects">
          <td>{{project.title}}</td>
          <td>{{project.desc}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  
</div>
</div>